

.imagenFooter {
    width: 100%;
    height: 500px;
    background-image: url(./images/homepage/alex_footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain ;
}


.datos {

  
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: $colorPrimario;

}



.datosContacto {

    width: 100%;
    height: auto;


}

.textoFooter {

    color: #fff;
    text-align: left;
    padding-left: 40px;

}


.inputNewsletter{

    width: 100%;
    height: auto;
    color: #fff;
    padding-left: 50px;
    padding-top: 15px;


    
}

.inputRedes {

    width: 100%;
    padding-left: 75px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-top: 20px;
    display: flex;
    background-color: #fff;
}

.contenedorRedes {


    width: 100px;
}


$redes: (
    youtube: #D11A21,
    facebook: #3a5795,
    instagram: #C25E30

);

@each $red, $color in $redes {

    .social--#{$red} {
        color: $color;     
    }
}

@each $red, $color in $redes {

    .social--#{$red}:hover {
        color: $color;    
    }
}

